:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --nord-darker: #292E39;
}

/* Classes I can actually use. */ 
.bg-nord0 { background-color: var(--nord0); }
.bg-nord1 { background-color: var(--nord1); }
.bg-nord2 { background-color: var(--nord2); }
.bg-nord3 { background-color: var(--nord3); }
.bg-nord4 { background-color: var(--nord4); }
.bg-nord5 { background-color: var(--nord5); }
.bg-nord6 { background-color: var(--nord6); }
.bg-nord7 { background-color: var(--nord7); }
.bg-nord8 { background-color: var(--nord8); }
.bg-nord9 { background-color: var(--nord9); }
.bg-nord10 { background-color: var(--nord10); }
.bg-nord11 { background-color: var(--nord11); }
.bg-nord12 { background-color: var(--nord12); }
.bg-nord13 { background-color: var(--nord13); }
.bg-nord14 { background-color: var(--nord14); }
.bg-nord15 { background-color: var(--nord15); }
.bg-nord-dark { background-color: var(--nord-darker); }

.text-nord0 { color: var(--nord0); }
.text-nord1 { color: var(--nord1); }
.text-nord2 { color: var(--nord2); }
.text-nord3 { color: var(--nord3); }
.text-nord4 { color: var(--nord4); }
.text-nord5 { color: var(--nord5); }
.text-nord6 { color: var(--nord6); }
.text-nord7 { color: var(--nord7); }
.text-nord8 { color: var(--nord8); }
.text-nord9 { color: var(--nord9); }
.text-nord10 { color: var(--nord10); }
.text-nord11 { color: var(--nord11); }
.text-nord12 { color: var(--nord12); }
.text-nord13 { color: var(--nord13); }
.text-nord14 { color: var(--nord14); }
.text-nord15 { color: var(--nord15); }
.text-nord-dark { color: var(--nord-darker); }

.border-nord0 { border-color: var(--nord0); }
.border-nord1 { border-color: var(--nord1); }
.border-nord2 { border-color: var(--nord2); }
.border-nord3 { border-color: var(--nord3); }
.border-nord4 { border-color: var(--nord4); }
.border-nord5 { border-color: var(--nord5); }
.border-nord6 { border-color: var(--nord6); }
.border-nord7 { border-color: var(--nord7); }
.border-nord8 { border-color: var(--nord8); }
.border-nord9 { border-color: var(--nord9); }
.border-nord10 { border-color: var(--nord10); }
.border-nord11 { border-color: var(--nord11); }
.border-nord12 { border-color: var(--nord12); }
.border-nord13 { border-color: var(--nord13); }
.border-nord14 { border-color: var(--nord14); }
.border-nord15 { border-color: var(--nord15); }
.border-nord-dark { border-color: var(--nord-darker); }