/* Text */
* {
    font-family: 'Roboto', sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
}

.sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/* Waves */
.wave-one {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.wave-one svg {
    position: relative;
    display: block;
    width: calc(132% + 1px);
    height: 70px;
}

.wave-one .shape-fill {
    fill: var(--nord0);
}

.wave-two {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) scaleX(-1);
}

.wave-two svg {
    position: relative;
    display: block;
    width: calc(110% + 1px);
    height: 30px;
}

.wave-two .shape-fill {
    fill: var(--nord-darker);
}

/* Animations */
.hide {
    opacity: 0;
    transition: all 1s;
    transform: translateY(3%);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

/* Nord colour variables */
:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    --nord-darker: #292E39;
}