/* Text */
* {
    font-family: 'Roboto', sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
}

.sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/* Waves */
.wave-one {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.wave-one svg {
    position: relative;
    display: block;
    width: calc(132% + 1px);
    height: 70px;
}

.wave-two {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) scaleX(-1);
}

.wave-two svg {
    position: relative;
    display: block;
    width: calc(110% + 1px);
    height: 30px;
}

/* Animations */
.hide {
    opacity: 0;
    transition: all 1s;
    transform: translateY(3%);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}