@{
    ViewData["Title"] = "Home";
}

<div id="top">
    <div class="text-center">
        <h1 class="text-6xl title mb-4 text-mint">Christopher Dykes</h1>
        <h3 class="text-4xl sub-title mb-8">Full Stack Web Developer</h3>
    </div>

    <div class="flex justify-center">
        <div class="bg-nord5 rounded-full w-48 h-48">
            <img src="miku.png" alt="miku icon" class="my-auto w-auto h-full object-contain"/>
        </div>
    </div>

    <div class="mt-8 px-5 mx-auto w-full sm:w-3/4 font-regular text-xl">
        <p>
            Hi! My name is Chris. I'm a software developer from Ottawa, Canada. My expertise is in building fast, scalable, and secure web applications.
            I love to tinker with technology, experiment with new and unique tools, and create useful and interesting software applications.
        </p>
        <br/>
        <p>
            My diverse work experiences have given me a unique blend of expertise and creativity. I have worked extensively with a wide range of programming languages and frameworks, including but not limited to 
            C# and ASP.NET Core, Java, Go, TypeScript and React.
            I have worked also with both relational database management systems and non-relational databases, and a variety of Linux distributions.
        </p>
    </div>
</div>

<div class="wave-one">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<div id="mid" class="bg-nord0 pt-8 pb-8">
    <div class="text-center">
        <h2 class="text-5xl title text-mint">Web Projects</h2>
    </div>
    
    <div class="mt-8 px-5 mx-auto w-full sm:w-3/4 font-regular text-xl">
        <p>
            I'm still working on the design here. Waves or angled lines? For now, enjoy the lorem ipsum.
        </p>
        <br/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat non enim aliquam imperdiet. Sed imperdiet risus bibendum cursus eleifend. Ut massa justo, pellentesque quis diam at, euismod tincidunt justo. In suscipit at nisi et congue. Praesent lacinia sagittis justo. Suspendisse nunc lacus, vulputate vel enim id, tristique iaculis lectus. Aenean suscipit purus id leo venenatis, nec maximus elit imperdiet. In eu finibus ante. Maecenas ornare vel odio sit amet rutrum. Proin tincidunt efficitur diam ac tempor.
            Sed tincidunt, est sit amet imperdiet hendrerit, elit velit eleifend nisl, sed venenatis nibh ligula ac mi. Quisque turpis neque, egestas eu augue a, bibendum efficitur erat. Sed sagittis eleifend ante nec tincidunt. Suspendisse sagittis, ligula in mollis cursus, nibh tellus porta nisl, dignissim hendrerit odio erat at dui. Maecenas nisi elit, convallis sed tincidunt consectetur, pellentesque at sapien. Duis sollicitudin tortor at nisi accumsan tristique. Nam ac magna cursus, rhoncus risus lobortis, sagittis felis. Mauris in lorem lacus.
        </p>
    </div>
</div>

<div class="wave-two bg-nord0">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<div id="bottom" class="bg-nord-dark pt-8 pb-8">
    <div class="text-center">
        <h2 class="text-5xl title text-mint">Contact</h2>
    </div>
    
    <div class="flex justify-center">
        
    </div>
</div>
