@{
    ViewData["Title"] = "Home";
}

<div id="top">
    <div class="text-center hide">
        <h1 class="text-6xl title mb-4 text-miku dark:text-mint">Christopher Dykes</h1>
        <h3 class="text-4xl sub-title mb-8">Full Stack Web Developer</h3>
    </div>

    <div class="flex justify-center hide">
        <div class="bg-mint2 dark:bg-white2 rounded-full w-48 h-48">
            <img src="miku.png" alt="miku icon" class="my-auto w-auto h-full object-contain"/>
        </div>
    </div>
    
    <div class="mt-8 px-5 mx-auto w-full sm:w-3/4 font-regular text-xl">
        <p class="hide">
            Hi! I'm Chris, a software developer from Ottawa, Canada.
            My expertise is in creating full-stack web applications and backend solutions.
            If you're in need of a secure, high-performance web application, or you're looking for a skilled developer to join your team, you've come to the right place.
        </p>
        <br/>
        <p class="hide">
            I bring versatility and depth to projects with my knowledge and experience with a wide array of programming languages and frameworks, including but not limited to C# with ASP.NET Core, Go, and JavaScript/TypeScript.
            My expertise extends beyond code, encompassing SQL and NoSQL databases, and GNU/Linux distributions such as Arch and Debian.
        </p>
        <br/>
        <p class="hide">
            I love exploring new technologies and emerging trends to ensure that the solutions I deliver take full advantage of the innovations in the tech industry.
            If you'd like to see my skills in action, please have a look at the projects below!
        </p>
    </div>

</div>

<div class="wave-one fill-white3 dark:fill-black2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<div id="projects" class="bg-white3 dark:bg-black2 pt-16 pb-8">
    <div class="text-center hide">
        <h2 class="text-5xl title text-miku dark:text-mint">Web Projects</h2>
        <i class="fas fa-laptop-code mt-8 text-mint2 dark:text-white3" style="font-size: 100px !important;"></i>
    </div>

    <div class="flex flex-col md:flex-row justify-center mt-12 px-5 mx-auto w-full xl:w-3/4 font-regular text-xl">
        @* Figure Web API *@
        <div class="flex-1 bg-white1 dark:bg-black3 p-8 mb-5 rounded-lg shadow-lg mx-4 hide"> 
            <h3 class="text-2xl font-medium text-nord6 mb-4 text-miku dark:text-mint">Figure Web API</h3>
            <div class="mb-8">
                <p>
                    A Restful Web API that sends data about anime figures from a variety of companies in the form of JSON. 
                </p>
                <p>
                    Built with C#, ASP.NET Core, and PostgreSQL.
                </p>
            </div>
            <div class="links">
                <a href="https://api.anime-figures.moe/figure" class="text-miku dark:text-mint" target="_blank">Application Link</a> | 
                <a href="https://github.com/chris-dykes-j/figure-api" class="text-miku dark:text-mint" target="_blank">Source Code</a>
            </div>
        </div>
    
        @* Go School Project *@
        <div class="flex-1 bg-white1 dark:bg-black3 p-8 mb-5 rounded-lg shadow-lg mx-4 hide"> 
            <h3 class="text-2xl font-medium text-nord6 mb-4 text-miku dark:text-mint">Golang School Project</h3>
            <div class="mb-8">
                <p>
                    A project that performs basic database operations, create, read, update, and delete. 
                </p>
                <p>
                    Built with Go, PostgreSQL, and Bootstrap.
                </p>
            </div>
            <div class="links">
                <a href="https://github.com/chris-dykes-j/vegetable-go" class="text-miku dark:text-mint" target="_blank">Source Code</a>
            </div>
        </div>
    </div>
        
    <div class="flex flex-col md:flex-row justify-center px-5 mx-auto w-full xl:w-3/4 font-regular text-xl">
        @* Rhythm Weaver *@
        <div class="flex-1 bg-white1 dark:bg-black3 p-8 mb-5 rounded-lg shadow-lg mx-4 hide"> 
            <h3 class="text-2xl font-medium text-nord6 mb-4 text-miku dark:text-mint">Rhythm Weaver Web App</h3>
            <div class="mb-8">
                <p>
                    A web application that generates musical rhythms and displays it as an image.
                </p>
                <p>
                    Built with Go, HTMX, and TailwindCSS.
                </p>
            </div>
            <div class="links">
                <a href="https://github.com/chris-dykes-j/rhythm-weaver" class="text-miku dark:text-mint" target="_blank">Source Code</a>
            </div>
        </div>
        
        @* Figure Scraper *@
        <div class="flex-1 bg-white1 dark:bg-black3 p-8 mb-5 rounded-lg shadow-lg mx-4 hide"> 
            <h3 class="text-2xl font-medium text-nord6 mb-4 text-miku dark:text-mint">Figure Web Scraper</h3>
            <div class="mb-8">
                <p>
                    A web scraper project to extract images and data from a figure retailer website.
                </p>
                <p>
                    Built with Go.
                </p>
            </div>
            <div class="links">
                <a href="https://github.com/chris-dykes-j/figure-scraping-alter-go" class="text-miku dark:text-mint" target="_blank">Source Code</a>
            </div>
        </div>
    </div>
</div>

<div class="wave-two bg-white3 dark:bg-black2 fill-white2 dark:fill-black1">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<div id="contact" class="dark:bg-nord-dark pt-16 pb-16">
    <div class="text-center hide">
        <h2 class="text-5xl title text-miku dark:text-mint">Contact Me</h2>
        <a href="mailto:chris.dykes.j@gmail.com" class="text-mint2 dark:text-white3 hover:text-miku2 dark:hover:text-mint">
            <i class="fas fa-envelope mt-4" style="font-size: 100px !important;"></i>
        </a>
    </div>
    
    <div class="mt-8 mb-16 px-5 mx-auto w-full sm:w-3/4 font-regular text-xl hide">
        <p class="text-center">
            If you'd like to make a business inquiry, shoot me an <a href="mailto:chris.dykes.j@gmail.com" class="text-miku dark:text-mint" target="_blank">email</a>!
        </p>
        <p class="text-center">
            You can also find me on <a href="https://github.com/chris-dykes-j" class="text-miku dark:text-mint" target="_blank">github</a> or <a href="https://www.linkedin.com/in/christopher-dykes/" class="text-miku dark:text-mint" target="_blank">linkedin</a>.
        </p>
    </div>
</div>