@model dynamic

@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="text-6xl title mb-4">Web Projects</h1>
</div>

<div class="content">
    
</div>
