<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Christopher Dykes</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>

<body class="flex flex-col h-screen justify-between bg-white2 dark:bg-black1"> 

<nav class="bg-white2 dark:bg-black1 text-black1 dark:text-white3 font-medium mb-8 sticky top-0 z-50">
    <div class="container mx-auto sm:px-10 px-5">
        <div class="flex justify-between py-4">
            @* Desktop *@
            <ul class="flex space-x-5">
                <li><a href="/" class="hover:text-miku dark:hover:text-mint">Home</a></li>
                <li><a href="/#projects" class="hover:text-miku dark:hover:text-mint">Projects</a></li>
                <li><a href="/#contact" class="hover:text-miku dark:hover:text-mint">Contact</a></li>
            </ul>
            
            <ul class="flex space-x-5">
                <li>
                    <a href="https://github.com/chris-dykes-j" target="_blank" class="hover:text-miku dark:hover:text-mint">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christopher-dykes/" target="_blank" class="hover:text-miku dark:hover:text-mint">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a onclick="toggleDarkMode()" style="cursor: pointer;" class="hover:text-miku dark:hover:text-mint" >
                        <i id="dark-mode-icon" class="fas fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content text-black1 dark:text-white3 grow mt-0">
    @RenderBody()
</div>

<div id="footer" class="bg-white2 dark:bg-black1 text-grey2 dark:text-white1 font-regular py-8">
    <div class="flex justify-center">
        <p>&copy; 2023 Christopher Dykes. Some rights reserved.</p>
    </div>
    <div class="flex justify-center text-center">
        <p>
            Image of Hatsune Miku used under <a href="https://piapro.net/intl/en_for_creators.html" class="hover:text-miku dark:hover:text-mint">Creative Commons License</a>.
        </p>
    </div>
    <div class="flex justify-center text-center">
        <p>
            Hatsune Miku is the intellectual property of Crypton Future Media, INC.
        </p>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>