<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Christopher Dykes</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/nord.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>

<body class="flex flex-col h-screen justify-between bg-nord-dark">

<nav class="bg-nord0 text-nord6 font-medium mb-8 sticky">
    <div class="container mx-auto sm:px-10 px-5">
        <div class="flex justify-between py-4">
            @* Desktop *@
            <ul class="hidden sm:flex flex space-x-10">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            @* Mobile *@
            <ul class="sm:hidden flex">
                <button id="nav-button">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
            </ul>
            @* Hamburger items *@
            <div id="nav-menu" class="sm:hidden absolute top-full left-0 w-40 bg-nord0 text-nord6 shadow-lg hidden z-50
                rounded-br-md">
                <ul class="flex flex-col space-y-4 p-4">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            
            <ul class="flex space-x-5">
                <li>
                    <a href="https://github.com/chris-dykes-j" target="_blank">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christopher-dykes/" target="_blank">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank">
                        <i class="fas fa-moon fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content text-nord6 grow mt-0">
    @RenderBody()
</div>

<div id="footer" class="bg-nord0 text-nord4 font-regular mt-8 py-8">
    <div class="flex justify-center">
        <p>&#127279; 2023 Christopher Dykes, some rights reserved</p>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>